[submodule "themes/hemingway"]
	path = themes/hemingway
	url = https://github.com/tanksuzuki/hemingway
[submodule "public"]
	path = public
	url = git@github.com:gshimansky/gshimansky.github.io.git
	branch = master
