[submodule "themes/hemingway"]
	path = themes/hemingway
	url = git@github.com:gshimansky/hemingway.git
[submodule "public"]
	path = public
	url = git@github.com:gshimansky/gshimansky.github.io.git
	branch = master
